.total_height { height: 100%; }
.white_back { background: #fff; }
.keyboard { position: fixed; bottom: 0; left: 0; right: 0; background: #fff; }
.aui-row { border-top: 1px solid #eee; }
.keyboard .aui-row .aui-col-xs-3 { border-left: 1px solid #eee; font-size: 1.2rem; color: #333; padding: 0.7rem 0; }
.keyboard .aui-row .aui-col-xs-6 { font-size: 1.2rem; color: #333; padding: 0.7rem 0; }
.keyboard .aui-row .aui-col-xs-3:first-child { border-left: none; }
.keyboard .aui-row .aui-col-xs-3[data-count="confirm"],.keyboard .aui-row .aui-col-xs-3[data-count="hide"] { background: #0c56e9; color: #fff; font-size: 1.1rem; padding: 0.8rem 0; }
.keyboard .aui-row .aui-col-xs-3[data-count="clean"] { background: #fb6f17; color: #fff; font-size: 1.1rem; padding: 0.8rem 0; }
.delete_btn { display: block; width: 1.7rem; margin: 0 auto; }
#input { border: 1px solid #c0c0c0; height: 40px; padding: 0 10px; }
#search { height: 40px; background: #0c56e9; color: #fff; width: 80%; max-width: 90px; border-radius: 0; border: none; }
.search_padding { padding: 0 0.75rem; }
.search_box.aui-grid    [class*=aui-col-xs-]:active { background:#fff; }

/*2019-04-26-start*/
.person_img { height: 164px; overflow: hidden; line-height: 164px; }
.person_img img { display: inline; width: 100%; height: 100% }
.search_con .aui-grid [class*=aui-col-xs-]:active { background:#fff; }
.search_con .aui-grid [class*=aui-col-xs-] { padding: 0; color: #333; font-size: 0.9rem; text-align: left; }
.search_con .aui-grid .aui-col-xs-5 { padding: 8px 0 8px 0px; text-indent: 8px; font-size: 0.8rem; }
.search_con .aui-grid .aui-col-xs-7 { padding: 8px 0; font-size: 0.8rem; }
.search_con .aui-grid .aui-col-xs-12 { padding: 8px 0; }
.no_border_top { border-top: none; }
.border_left { border-left: 1px solid #eee; }
.border_right { border-right: 1px solid #eee; }
.border_bottom { border-bottom: 1px solid #eee; }
.id_card .aui-col-xs-12 span:first-child{ padding-left: 10px; }
.id_card .aui-col-xs-12 span { font-size: 0.8rem; }
.blue_font { color: #214eb3; }
.search_state span[data-state="1"] { color: #214eb3; }
.search_state span[data-state="0"] { color: #cd0000; }
.padding_left_10 { padding-left: 10px!important; }
.search_btn { display: block; height: 46px; width: 150px; border: none; border-radius: 0px; background: #0c56e9; color: #fff; margin: 30px auto 0; }
.car_search input { border: 1px solid #eee; height: 46px; font-size: 16px; text-indent: 10px; }
.car_search { padding: 30px 15px 0; }
.car_search.aui-grid [class*=aui-col-xs-] { padding: 8px 0; font-size: 0.8rem; color: #333; }
.car_search.aui-grid .aui-row { border-top: none; line-height: 46px; }
.relative { position: relative; }
.relative .triangle { position: absolute; right: 5px; top: 50%; margin-top: -13px; width: 26px; height: 26px; }
.car_search.aui-grid [class*=aui-col-xs-]:active { background:#fff; }
.fixed_bottom { position: fixed; width: 80%; bottom: 50px; left: 10%; }
.tips { font-size: 0.8rem; text-align: center; padding-bottom: 10px; }
.red_font { color: #cd0000; }
.padding_top_0 { padding-top: 0; }
.padding_top_20 { padding-top: 20px; }
/*2019-04-26-end*/

/* 2019-04-30-start */
#search.search { height: 46px; width: 100%; }
.scroll_auto { overflow: auto; }
.car_resutl_count,.check_no_result_infor { width: 100%; height: 46px; line-height: 46px; color: #cd0000; font-size: 1rem; text-align: center; background: #eae8ed; }
.check_no_result_infor { position: absolute; left: 0; top: 30%; margin-top: -23px; background: #fff; font-size: 0.9rem; }
.car_search_infor { margin-top: 20px; background: #eae6dd; padding: 20px 15px 30px; }
.car_search_infor [class*=aui-col-xs-] { padding: 0; }
.car_detail_infor { background: #fff; padding: 0 15px 20px; }
.car_detail_infor [class*=aui-col-xs-] { padding: 10px 0; }
.img_box { padding: 15px; background: #fff; }
.search_result_count { height: 46px; line-height: 46px; text-align: center; color: #333; font-size: 1rem; background: #fff; }
#submit { margin-bottom: 30px;  }
.search_con .person_search_detail [class*=aui-col-xs-] { padding: 8px 0; font-size: 0.8rem; text-indent: 10px; }
.track_box { border: 1px solid #eee; margin-top: 20px; }
.track_title span:first-child { font-size: 1rem; color: #333; font-weight: bold; padding-left: 10px; }
.track_title .toggle_btn { float: right; color: #898989; font-size: 0.9rem; padding-right: 15px; }
/*查询列表中的信息状态，1：正常*/
.result_list_item { font-size: 0.9rem; border-bottom: 1px dotted #eee; color: #333; padding: 5px 10px; }
.item_status[data-state="1"] { color: #a1c733; }
.item_status[data-state="0"] { color: #cd0000; }
.margin_bottom_30 { margin-bottom: 30px; }
.text_indent_5 { text-indent: 5px; }
.toggle_btn[data-state="0"] { color: #0c56e9; }
/* 2019-04-30-end */
