.total_height { height: 100%; }
.white_back { background: #fff; }
.keyboard { position: fixed; bottom: 0; left: 0; right: 0; background: #fff; }
.aui-row { border-top: 1px solid #eee; }
.keyboard .aui-row .aui-col-xs-3 { border-left: 1px solid #eee; font-size: 1.2rem; color: #333; padding: 0.7rem 0; }
.keyboard .aui-row .aui-col-xs-6 { font-size: 1.2rem; color: #333; padding: 0.7rem 0; }
.keyboard .aui-row .aui-col-xs-3:first-child { border-left: none; }
.keyboard .aui-row .aui-col-xs-3[data-count="confirm"],.keyboard .aui-row .aui-col-xs-3[data-count="hide"] { background: #0c56e9; color: #fff; font-size: 1.1rem; padding: 0.8rem 0; }
.keyboard .aui-row .aui-col-xs-3[data-count="clean"] { background: #fb6f17; color: #fff; font-size: 1.1rem; padding: 0.8rem 0; }
.delete_btn { display: block; width: 1.7rem; margin: 0 auto; }
#input { border: 1px solid #c0c0c0; height: 40px; padding: 0 10px; }
#search { height: 40px; background: #0c56e9; color: #fff; width: 80%; max-width: 90px; border-radius: 0; border: none; }
.search_padding { padding: 0 0.75rem; }
.search_box.aui-grid    [class*=aui-col-xs-]:active { background:#fff; }

/*2019-04-26-start*/
.person_img { height: 164px; overflow: hidden; line-height: 164px; }
.person_img img { display: inline; width: 100%; height: 100% }
.search_con .aui-grid [class*=aui-col-xs-]:active { background:#fff; }
.search_con .aui-grid [class*=aui-col-xs-] { padding: 0; color: #333; font-size: 0.9rem; text-align: left; }
.search_con .aui-grid .aui-col-xs-5 { padding: 8px 0 8px 0px; text-indent: 8px; font-size: 0.8rem; }
.search_con .aui-grid .aui-col-xs-7 { padding: 8px 0; font-size: 0.8rem; }
.search_con .aui-grid .aui-col-xs-12 { padding: 8px 0; }
.no_border_top { border-top: none; }
.border_left { border-left: 1px solid #eee; }
.border_right { border-right: 1px solid #eee; }
.border_bottom { border-bottom: 1px solid #eee; }
.id_card .aui-col-xs-12 span:first-child{ padding-left: 10px; }
.id_card .aui-col-xs-12 span { font-size: 0.8rem; }
.blue_font { color: #214eb3; }
.search_state span[data-state="1"] { color: #214eb3; }
.search_state span[data-state="0"] { color: #cd0000; }
.padding_left_10 { padding-left: 10px!important; }
.search_btn { display: block; height: 46px; width: 150px; border: none; border-radius: 0px; background: #0c56e9; color: #fff; margin: 30px auto 0; }
.car_search input { border: 1px solid #eee; height: 46px; font-size: 16px; text-indent: 10px; }
.car_search { padding: 30px 15px 0; }
.car_search.aui-grid [class*=aui-col-xs-] { padding: 8px 0; font-size: 0.8rem; color: #333; }
.car_search.aui-grid .aui-row { border-top: none; line-height: 46px; }
.relative { position: relative; }
.relative .triangle { position: absolute; right: 5px; top: 50%; margin-top: -13px; width: 26px; height: 26px; }
.car_search.aui-grid [class*=aui-col-xs-]:active { background:#fff; }
.fixed_bottom { position: fixed; width: 80%; bottom: 50px; left: 10%; }
.tips { font-size: 0.8rem; text-align: center; padding-bottom: 10px; }
.red_font { color: #cd0000; }
.padding_top_0 { padding-top: 0; }
.padding_top_20 { padding-top: 20px; }
/*2019-04-26-end*/