<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apptest.androidprojectmonitor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- TODO 人员核查 -->
        <activity android:name=".activity.PersonnelVerification" />
        <!-- TODO 临时布控 -->
        <activity android:name=".activity.TemporaryControl" />
        <!-- TODO 通讯录   -->
        <activity android:name=".activity.ContactsActivity" />
        <!-- TODO 人员查询 -->
        <activity android:name=".activity.PersonCheck" />
        <!-- TODO 车辆核查 -->
        <activity android:name=".activity.CarCheck" />
        <!-- TODO 车辆查询 -->
        <activity android:name=".activity.CarSearch" />
        <activity android:name=".activity.ObscureSearch" />
    </application>

</manifest>